/.vscode
/attend_data.xlsx
/attend_data_sample.xlsx
/bands.csv
/base.yml
/build
/chat.json
/dist
/hinan
/meiryo.ttc
/PyFiles
/rock_icon.jpg
/schedule_data.json
/select_band_log.txt
/settings.json
/shussekikanri.spec
/__pycache__
/【生協2階】工大祭バンド募集（回答）.xlsx
/タイムテーブル.xlsx